{
  "swagger": "2.0",
  "info": {
    "title": "storage",
    "version": "0.0.1"
  },
  "host": ".endpoints.phdigidev.cloud.goog",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/audit": {
      "get": {
        "operationId": "Audit",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AuditRes"
            }
          }
        },
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/delete": {
      "delete": {
        "operationId": "Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/get/{itemID}": {
      "get": {
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetRes"
            }
          }
        },
        "parameters": [
          {
            "name": "itemID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/getall": {
      "get": {
        "operationId": "GetAll",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAllRes"
            }
          }
        },
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/getby": {
      "post": {
        "operationId": "GetBy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetByRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/iterator": {
      "get": {
        "operationId": "Iterator",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "$ref": "#/definitions/IteratorRes"
            }
          }
        },
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/iteratorby": {
      "post": {
        "operationId": "IteratorBy",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "$ref": "#/definitions/IteratorByRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IteratorByReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/multi/get": {
      "post": {
        "operationId": "GetMulti",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMultiRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMultiReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/multi/set": {
      "post": {
        "operationId": "SetMulti",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SetMultiRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetMultiReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/quicksync": {
      "get": {
        "operationId": "QuickSync",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/QuickSyncRes"
            }
          }
        },
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/set": {
      "post": {
        "operationId": "Set",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SetRes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetReq"
            }
          }
        ],
        "tags": [
          "Storage"
        ]
      }
    },
    "/v1/sync": {
      "get": {
        "operationId": "Sync",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SyncRes"
            }
          }
        },
        "tags": [
          "Storage"
        ]
      }
    }
  },
  "definitions": {
    "AuditRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "changelogs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Changelog"
          }
        }
      }
    },
    "Changelog": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "int64"
        },
        "itemID": {
          "type": "string"
        }
      }
    },
    "DeleteReq": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        }
      },
      "title": "Delete"
    },
    "DeleteRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GetAllRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "GetByReq": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "op": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte",
          "title": "google.protobuf.Any value = 3;"
        },
        "limit": {
          "type": "string",
          "format": "int64"
        }
      },
      "title": "GetBy"
    },
    "GetByRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "GetMultiReq": {
      "type": "object",
      "properties": {
        "IDs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "GetMulti"
    },
    "GetMultiRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "GetRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "item": {
          "$ref": "#/definitions/Item"
        }
      }
    },
    "Item": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "type": "string",
          "format": "int64"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "type": "boolean",
          "format": "boolean"
        }
      }
    },
    "IteratorByReq": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "op": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      },
      "title": "IteratorBy - this should reeeeaaallly be a stream"
    },
    "IteratorByRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "IteratorRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "QuickSyncRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "SetMultiReq": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      },
      "title": "SetMulti"
    },
    "SetMultiRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "SetReq": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/Item"
        }
      },
      "title": "Set"
    },
    "SetRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "SyncRes": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "firebase": {
      "type": "oauth2",
      "description": "Used to authenticate Firebase",
      "in": "header",
      "flow": "implicit",
      "authorizationUrl": "https://securetoken.google.com/phdigidev"
    }
  },
  "security": [
    {
      "firebase": []
    }
  ]
}
